
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
label {
  position: absolute;
  left: 0;
  display: none;
  width: 2em;
  height: 2.25em;
  padding: 0.35em;
  font-size: 1.1em;
  color: #fff;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;
  margin: 0;
  background: rgba(0, 0, 0, .4);
}
/* big screens */
nav[role="off-canvas"] {
  position: relative;
  width: 100%;
  margin: 0 auto;
  transition-duration: 0.3s, 0.5s;
  transition-timing-function: ease-in-out;
  transition-property: left, opacity, box-shadow;
}

/* small screens */
@media screen and (max-width: 44em) {
  label {
    display: block;
  }
  label:after {
    position: absolute;
    right: 0.25em;
    top: 0;
    content: "\2261";
    font-size: 1.8em;
  }
  nav[role="off-canvas"] {
    position: absolute;
    top: 3em;
    left: -20em;
    width: 20em;
    opacity: 0;
  }
  input:checked ~ nav[role="off-canvas"] {
    opacity: 1;
    left: 0;
    box-shadow: -30em 0 0 30em rgba(0, 0, 0, .3);
  }
  input:checked ~ .content {
    margin-left: 20.5em;
    margin-right: -20.5em;
  }
}
