
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
label {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 2em;
  height: 2em;
  
  font-size: 2em;
  color: #fff;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;
  margin: 0;
  background: rgba(0, 0, 0, .4);
}
/* big screens */
nav[role="off-canvas"] {
  position: relative;
  width: 10em;
  margin: 0 0;
  transition-duration: 0.3s, 0.5s;
  transition-timing-function: ease-in-out;
  transition-property: left, opacity, box-shadow;
    border: 1px solid black;
}
.content {
    position: absolute;
    top: 1em;
    left: 10em;
    border: 1px solid black;
}

/* small screens */
@media screen and (max-width: 44em) {
  label {
    display: block;
  }
  label:after {
    position: absolute;
    right: 0.25em;
    top: 0;
    content: "\2261";
    font-size: 2em;
  }
  .content {
    position: absolute;
    top: 1em;
    left: 5em;
      
}
  nav[role="off-canvas"] {
    position: absolute;
    top: 1em;
    left: -10em;
    width: 10em;
    opacity: 0;
  }
  input:checked ~ nav[role="off-canvas"] {
    opacity: 1;
    left: 0;
    box-shadow: -30em 0 0 30em rgba(0, 0, 0, .3);
  }
  input:checked ~ .content {
    margin-left: 10.5em;
    margin-right: -10.5em;
    
  }
}
